div#app-download {
  position: relative;
  display: block;
  width: 100%;
  height: 37em;
  /*background: #f47723;*/
}

div#app-download .app-download-con {
  background-color: #f3f3f3;
  position: relative;
  display: block;
  width: 70em;
  height: 100%;
  margin: 0 auto;
}
div#app-download .app-download-con .left {
  width: 20em;
  height: 37em;
  background:  url(../../img/w.png) no-repeat;
}

div#app-download .app-download-con .right .intro {
  position: relative;
  width:  40em;
  padding: 3em 0;
  color: #333;
  line-height: 4em;
}

div#app-download .app-download-con .right .intro h2 {
  font-size: 4em;
}

div#app-download .app-download-con .right .intro p {
  font-size: 1.5em;
}

