div#footer {
  position: relative;
  display: block;
  width: 100%;
  border-top: .8em solid #4e4e4e;
  background: #363636;
  clear: both;
  padding: 1.2em 0;
  color: #8d8d8d;
  line-height: 1.8em;
}

div#footer .footer-con {
  position: relative;
  display: block;
  width: 70em;
  margin: 0 auto;
}

div#footer .footer-con p,
div#footer .footer-con a {
  font-size: .6em;
}

div#footer .footer-con h3 {
  font-size: 1em;
  color: #b0b0b0;
}

div#footer .footer-con .link {
  position: relative;
  display: block;
  float: left;
  width: 25em;
  height: 8em;
  border-right: 1px dotted #818181;
  padding: 0 2em;
}

div#footer .footer-con .rights {
  position: relative;
  display: block;
  float: left;
  width: 25em;
  height: 8em;
  border-right: 1px dotted #818181;
  padding: 0 2em;
}

div#footer .footer-con .contact {
  position: relative;
  display: block;
  float: left;
  width: 20em;
  height: 8em;
  padding: 0 2em;
}