div#menu {
  position: fixed;
  top: 0;
  display: block;
  background-color: #007cc2;
  color: #fff;
  width: 100%;
  height: 5.5em;
  z-index: 1;
}
div#menu .menu-con{
  position: relative;
  display: block;
  width: 70em;
  height: 100%;
  margin: 0 auto;
}
div#menu .menu-con img {
  margin-top: .5em;
  width: 125px;
  height: 60px;
}

div#menu .login {
  float: right;
  line-height: 5.5em;
  margin: 0 .5em;
}

div#menu .login a {
  padding: 0 1em;
  font-size: .8em;
  color: #ddd;
}

div#menu .nav {
  float: right;
  line-height: 5.5em;
  margin: 0 .5em;
}

div#menu .nav a {
  padding: 0 1em;
  font-size: 1em;
  color: #eee;
}