div#s1 {
  position: relative;
  display: block;
  width: 100%;
  height: 420px;
}

div#s1 .s1-con {
  background: #f3f3f3;
  position: relative;
  display: block;
  width: 70em;
  height: 100%;
  margin: 0 auto;
}

div#s1 .s1-con .intro {
  position: relative;
  width: 300px;
  height: 100%;
  display: block;
  padding: 2em 1em;
}

div#s1 .s1-con .intro h2 {
  font-size: 4em;
}

div#s1 .s1-con .intro p {
  font-size: 1.5em;
}

div#s1 .s1-con .pic {
  height: 100%;
  width: 633.96px;
  position: relative;
  display: block;
}

div#s1 .s1-con .pic img  {
  height: 100%;
  width: 100%;
}

/*
div#s1 .sign {
  padding-top: 570px;
  padding-left: 100px;
  position: relative;
  width: 80%;
}
*/

div#s1 button {
  width: 16em;
  color: #fff;
}
