div#s1 {
  position: relative;
  display: block;
  width: 100%;
  height: 663px;
  background: #f3f3f3 url(../../img/s1.jpg) no-repeat center;
}

div#s1 .s1-con {
  position: relative;
  display: block;
  width: 70em;
  height: 100%;
  margin: 0 auto;
}

div#s1 .sign {
  padding-top: 570px;
  padding-left: 100px;
  position: relative;
  width: 80%;
}

div#s1 button {
  width: 16em;
  color: #fff;
}