div#s2 {
  position: relative;
  display: block;
  width: 100%;
  height: 60em;
  background: #fff;
}

div#s2 .s1-con {
  position: relative;
  display: block;
  width: 70em;
  height: 100%;
  margin: 0 auto;
}